.funbox {
  width: 308%;
  height: 100px;
  background-color: rgb(245, 240, 248);
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  align-self: center;
  border-radius: 5px;
}

.funbox :hover {
  animation: alternate;
}

.funText {
  position: relative;
  align-content: center;
  top: 15px;
  left: 25px;
  font-size: 20px;
  opacity: 0.9;
  transition: 0.3s;
}
