.infobar {
  height: 33%;
  width: 100%;
  background-color: rgb(245, 240, 248);
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  align-self: center;
  border-radius: 5px;
}

.infobar:hover {
  background-color: lightcyan;
  font-size: 23px;
  font-weight: bold;
  opacity: 1;
  transform: scale(1.1);
  transition-delay: 0.1s;
}

.infoText {
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 20px;
  opacity: 0.9;
  transition: 0.3s;
  cursor: default;
}
